# FTP Configuration
FTP_USERNAME=
FTP_PASSWORD=
FTP_SERVER=
FTP_PORT=21
FTP_KEEP=3
FTP_PATH=/home/

# SFTP Configuration
SFTP_USERNAME=
SFTP_PASSWORD=
SFTP_SERVER=
SFTP_PORT=22
SFTP_KEEP=3
SFTP_PATH=/home/

# Backup Folders
BACKUP_FOLDER=/etc/,/home

# encrypt the backup if the password is set
BACKUP_PASSWORD=

# set the compression
COMPRESSION=Gzip

# slack Configuration
SLACK_URL=https://slack.com/foo/bar
SLACK_NOTIFY_SUCCESS=true
SLACK_NOTIFY_WARNING=true
SLACK_NOTIFY_FAILURE=true

# psql Configuration
PSQL_DATABASE=demo
PSQL_USERNAME=demo
PSQL_PASSWORD=demo
PSQL_SERVER=psql
PSQL_PORT=5432

